#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;  
}

#app .outer-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: red; */
}

#app h2 {
  align-self: flex-start;
}

#app form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

#app .inner-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#app .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#app input {
  width: 12rem;
}

#app #message {
  width: 100%;
  height: 3rem;
  display: flex;
  font-size: 0.9rem;
}

#app #message.error {
  color: rgb(175, 72, 72);
}

#app #message.okay {
  color: rgb(72, 116, 72);
}

@media only screen and (max-width: 600px) {
  #app .outer-container {
    width: 80%;
    align-items: flex-start;
  }
  #app form {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  button {
    width: 12rem;
  }
}

@media only screen and (max-width: 480px) {
  #app * {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #app form {
    align-items: center;
  }
}