#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;  
}

#app .outer-container {
  position: relative;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#app h2 {
  align-self: flex-start;
}

#app form {
  display: flex;
  gap: 2rem;
}

#app .inner-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#app .inputs {
  display: flex;
  gap: 1rem;
}

#app #message {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

#app #message.error {
  color: rgb(175, 72, 72);
}

#app #message.okay {
  color: rgb(72, 116, 72);
}